<div class="contact section " id="contact">
  <div class="contact-text">
    <h2>Contact <span>Me!</span></h2>
    <h4>Where to find me.</h4>
    <p>Do you have an interesting project I can help with? Feel free to reach out to me by using one of the
      following:</p>
    <div class="list">
      <li><a href="#">Phone: 01646895741</a></li>
      <li><a href="#">Email: hello@gmail.com</a></li>
      <li><a href="#">Linkedin: hello@gmail.com</a></li>
      <li><a href="#">Gitlab: hello@gmail.com</a></li>
      <h5>You can also use the contact form on this page.</h5>
    </div>

    <div class="contact-form">
      <form action="">
        <input type="name" placeholder="Your Name" required>
        <input type="email" placeholder="Your Email Address" required>
        <input type="" placeholder="Your Mobile Number" required>
        <textarea name="" id="" cols="35" rows="10" placeholder="How Can I Help You" required></textarea>
        <input type="submit" value="Send Message" class="submit" required>
      </form>
    </div>
  </div>



  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe width="775" height="697" id="gmap_canvas"
              src="https://maps.google.com/maps?q=ait melloul, agadir&t=&z=12&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      <a href="https://2yu.co">2yu</a><br>
      <style>.mapouter {
        position: relative;
        text-align: right;
        height: 697px;
        width: 775px;
      }</style>
      <a href="https://embedgooglemap.2yu.co">html embed google map</a>
      <style>.gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 697px;
        width: 775px;
      }</style>
    </div>
  </div>
</div>
