<!----portfolio section design--->
<div class="portfolio section" id="portfolio">
  <div class="main-text">
    <p>Portfolio</p>
    <h2>Projets</h2>
  </div>

  <div class="portfolio-content">
    <div class="row">
      <img src="../../assets/img/23W01-blog-HowToSecureYourCICDPipeline-1.png"
                                                   height="300" width="400"/>
      <div class="layer">
        <h5>CI/CD</h5>
        <p>Établissement d'un pipeline CI/CD avec Jenkins pour les applications web : automatisation des tâches Jenkins, tests et déploiement automatique d'images Docker vers un référentiel centralisé.</p>
      </div>
    </div>

    <div class="row"><img src="../../assets/img/gestion-flotte-automobile.webp"  height="300" width="400"/>

      <div class="layer">
        <h5>Kerberos</h5>
        <p>Application desktop de gestion de location des véhicules * La gestion des différentes fonctions d'une agence de location de véhicules.
          Technologies: JAVA , MySQL , JAVA SWING</p>
      </div>
    </div>

    <div class="row"><img src="../../assets/img/develop-a-online-store-web-application.webp" height="300" width="400"/>
      <div class="layer">
        <h5>Storelux</h5>
        <p>
          Mise en place d'un site e-commerce * Développement d'un site internet E-Commerce dédié à la vente des produits numérique.
          Technologies: Spring boot, Hibernate, JPA, MYSQL, Angular, Bootstrap.</p>
      </div>
    </div>

  </div>
</div>
