<!----portfolio section design--->
<div class="portfolio section" id="portfolio">
  <div class="main-text">
    <p>Portfolio</p>
    <h2><span>Latest</span> Project</h2>
  </div>

  <div class="portfolio-content">
    <div class="row">
      <img src="assets/img/portfolio1.jpg">
      <div class="layer">
        <h5>Visual Design</h5>
        <p>Check out 10 Best Design's updates for the top web design & development companies.</p>
        <a href="#"><i class='bx bx-link-external' ></i></a>
      </div>
    </div>

    <div class="row">

      <div class="layer">
        <h5>Visual Design</h5>
        <p>Check out 10 Best Design's updates for the top web design & development companies.</p>
        <a href="#"><i class='bx bx-link-external' ></i></a>
      </div>
    </div>

    <div class="row">
      <img src="assets/img/portfolio3.jpg">
      <div class="layer">
        <h5>Visual Design</h5>
        <p>Check out 10 Best Design's updates for the top web design & development companies.</p>
        <a href="#"><i class='bx bx-link-external' ></i></a>
      </div>
    </div>

    <div class="row">
      <img src="assets/img/portfolio4.jpg">
      <div class="layer">
        <h5>Visual Design</h5>
        <p>Check out 10 Best Design's updates for the top web design & development companies.</p>
        <a href="#"><i class='bx bx-link-external' ></i></a>
      </div>
    </div>

    <div class="row">
      <img src="assets/img/portfolio5.jpg">
      <div class="layer">
        <h5>Visual Design</h5>
        <p>Check out 10 Best Design's updates for the top web design & development companies.</p>
        <a href="#"><i class='bx bx-link-external' ></i></a>
      </div>
    </div>

    <div class="row">
      <img src="assets/img/portfolio6.jpg">
      <div class="layer">
        <h5>Visual Design</h5>
        <p>Check out 10 Best Design's updates for the top web design & development companies.</p>
        <a href="#"><i class='bx bx-link-external' ></i></a>
      </div>
    </div>

  </div>
</div>
